@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&family=Poppins:wght@100;200;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*-----HEADER-------*/

header {
  display: flex;
  justify-content: center;
  background-color: rgba(145, 63, 15, 0.397);
  position: sticky;
  top: 0;
  z-index: 1;
}

header img {
  width: 120px;
  height: 30px;
  margin-top: 15px;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  margin: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  display: inline-block;
}

header nav ul li a {
  text-decoration: none;
  color: white;
}

/*-----MAIN CAFE-------*/

.origen {
  background-color: rgba(133, 81, 13, 0.253);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.origen h2 {
  font-family: "Poppins", sans-serif;
  color: rgb(114, 67, 6);
}

.origen p {
  font-family: "Montserrat", sans-serif;
  color: rgb(92, 53, 2);
}

.origen div {
  width: 800px;
  font-size: 20px;
}

.origen_dos h2 {
  font-family: "Poppins", sans-serif;
  color: rgb(114, 67, 6);
}

.origen_dos p {
  font-family: "Montserrat", sans-serif;
  color: rgb(92, 53, 2);
}

.origen img {
  margin-top: 15px;
  width: 450px;
  height: 650px;
}

.origen_dos {
  background-color: rgba(133, 81, 13, 0.247);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.origen_dos div {
  width: 800px;
  font-size: 20px;
}

.origen_dos img {
  margin-top: 15px;
  width: 500px;
  height: 700px;
}

.origen_tres {
  background-color: rgba(133, 81, 13, 0.247);
  text-align: center;
}

.origen_tres div {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  background-color: rgba(133, 81, 13, 0.247);
}

.origen_tres img {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 60%;
  height: 50%;
}

.origen_tres div {
  position: relative;
  top: 80px;
  color: rgb(97, 57, 4);
}

/*-----MAIN ESTILO------*/

.estilo_grano {
  background-color: rgba(238, 238, 238, 0.637);
  display: flex;
  justify-content: center;
  align-items: center;
}

.estilo_grano div li {
  list-style: none;
}

.estilo_grano div li a {
  text-decoration: none;
  color: cyan;
}

.estilo_grano .primero h2 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  position: relative;
  top: 300px;
}

.estilo_grano .primero li {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  position: relative;
  top: 300px;
}

.estilo_grano .segundo h2 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  position: relative;
  top: 300px;
}

.estilo_grano .segundo li {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  position: relative;
  top: 300px;
}

.estilo_grano .primero {
  background: linear-gradient(rgba(0, 0, 0, 0.514), rgba(104, 63, 2, 0.459)),
    url(../img/semillas.jpg);
  text-align: center;
  color: rgb(2, 116, 116);
  width: 1550px;
  height: 700px;
  transition-property: width;
  transition-duration: 1s;
}

.estilo_grano .primero:hover {
  width: 2500px;
}

.estilo_grano .segundo {
  background: linear-gradient(rgba(0, 0, 0, 0.459), rgba(253, 191, 76, 0.411)),
    url(../img/cafe_molido.jpg);
  background-position: center;
  text-align: center;
  color: rgb(2, 116, 116);
  width: 1550px;
  height: 700px;
  transition-property: width;
  transition-duration: 1s;
}

.estilo_grano .segundo:hover {
  width: 2500px;
}

#grano {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  background-image: url(../img/muchas_semillas.jpg);
}

#grano div h2 {
  color: rgb(2, 179, 179);
  padding: 30px;
  width: 800px;
  text-align: center;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}

#grano div p {
  color: rgb(2, 116, 116);
  width: 800px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

#grano img {
  padding: 15px;
  width: 45%;
  height: 600px;
}

#molido {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(244, 245, 245);
}

#molido div h2 {
  color: rgb(2, 179, 179);
  padding: 30px;
  width: 800px;
  text-align: center;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}

#molido div p {
  color: rgb(2, 116, 116);
  width: 800px;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

#molido img {
  padding: 15px;
  width: 30%;
  height: 700px;
}

/*-----LOCALES-------*/

.presentacion_lugares {
  background: linear-gradient(
      rgba(255, 255, 255, 0.479),
      rgba(100, 57, 1, 0.582)
    ),
    url(../img/mapa_fondo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 750px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.presentacion_lugares h2 {
  font-family: "Poppins", sans-serif;
  padding: 5px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.897);
  color: rgb(143, 50, 7);
  font-size: 40px;
}

.local_uno {
  background: linear-gradient(
      rgba(100, 57, 1, 0.836),
      rgba(255, 255, 255, 0.479)
    ),
    url(../img/fondo_cafeteria.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 500px;
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
}

.local_uno h2 {
  color: rgb(238, 130, 83);
  font-family: "Poppins", sans-serif;
  font-size: 35px;
  padding: 20px;
  text-align: center;
}

.local_uno p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  width: 500px;
  text-align: center;
  color: rgb(112, 36, 0);
  background-color: rgba(219, 112, 62, 0.5);
}

.local_dos {
  background: linear-gradient(
      rgba(255, 255, 255, 0.541),
      rgba(100, 57, 1, 0.897)
    ),
    url(../img/venta_cafe.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 500px;
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
}

.local_dos h2 {
  color: rgb(194, 61, 0);
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  padding: 20px;
  text-align: center;
}

.local_dos p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  width: 500px;
  text-align: center;
  color: rgb(112, 36, 0);
  background-color: rgba(219, 112, 62, 0.5);
}

.contacta_con_nosotros {
  background: linear-gradient(
      rgba(100, 57, 1, 0.897),
      rgba(255, 255, 255, 0.541)
    ),
    url(../img/tabla_cafe.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contacta_con_nosotros .comentario {
  text-align: center;
  color: rgb(245, 175, 142);
  font-family: "Poppins", sans-serif;
  font-size: 30px;
}

.contacta_con_nosotros textarea {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  border-color: rgb(145, 47, 2);
}

/*-----PRODUCTOS------*/

.objetos {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  background-repeat: no-repeat;
  background-position: left;
  height: 600px;
}

.objetos h2 {
  font-family: "Montserrat", sans-serif;
  color: rgb(248, 234, 41);
  width: 45%;
  padding: 20px;
  text-align: left;
  font-size: 30px;
}

.objetos p {
  font-family: "Montserrat", sans-serif;
  color: rgb(248, 234, 41);
  width: 45%;
  padding: 20px;
  text-align: left;
  font-size: 30px;
}

.explicacion_objetos {
  display: flex;
  align-items: center;
  background-image: url(../img/granos_sin_fondo.png);
  background-repeat: no-repeat;
  background-position: right;
  background-color: black;
  height: 600px;
}

.explicacion_objetos h2 {
  font-family: "Poppins", sans-serif;
  color: rgb(248, 234, 41);
  width: 45%;
  padding: 20px;
  text-align: right;
  font-size: 30px;
}

.explicacion_objetos p {
  font-family: "Montserrat", sans-serif;
  color: rgb(248, 234, 41);
  width: 45%;
  padding: 20px;
  text-align: right;
  font-size: 30px;
}

.intro_productos {
  background-color: black;
  color: rgb(248, 234, 41);
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  text-align: center;
  padding: 50px;
}

.productos {
  background-color: black;
  padding: 50px;
  display: grid;
  grid-template-columns: 300px 300px 300px 460px;
  grid-template-rows: 400px 400px;
  gap: 40px;
  width: 100%;
  justify-content: center;
}

.productos div img {
  width: 100%;
  height: 100%;
}

.productos_grid {
  background-color: black;
}

.cuarto_item {
  grid-row: span 2;
  width: 100%;
}

/*-----MAIN INDEX-----*/

.header {
  width: 100%;
}

.mini_presso h2 {
  color: rgb(189, 110, 40);
  font-size: 60px;
  margin-right: 15px;
  padding: 30px;
  font-family: "Poppins", sans-serif;
}

.mini_presso p {
  color: rgb(189, 110, 40);
  font-size: 30px;
  margin-right: 15px;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
}

.mini_presso h3 {
  color: rgb(189, 110, 40);
  font-size: 30px;
  margin-right: 15px;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
}

.mini_presso {
  grid-area: mini_presso;
  width: 100%;
  height: 750px;
  background-image: url(../img/minipresso.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: black;
  display: flex;
  justify-content: right;
}

.taza_cafe {
  grid-area: taza_cafe;
  color: white;
  background-image: url(../img/cafe_index.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: right;
}

.taza_cafe h2 {
  color: sandybrown;
  font-size: 50px;
  padding: 15px;
  font-family: "Poppins", sans-serif;
  margin-right: 10px;
}

.taza_cafe p {
  color: rgb(250, 208, 172);
  font-size: 20px;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  margin-right: 5px;
}

.grano_capsula {
  background-color: rgba(238, 238, 238, 0.637);
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  flex-wrap: wrap;
}

.grano_capsula .primero {
  grid-area: grano_capsula_primero;
  background-image: url(../img/semilla_cafe.jpg);
  border-radius: 60px;
  background-position: center;
  background-repeat: no-repeat;
  width: 48%;
  height: 500px;
  transition-duration: 1s;
}

.grano_capsula .primero:hover {
  transform: scale(1.1);
}

.grano_capsula .segundo {
  grid-area: grano_capsula_segundo;
  background-image: url(../img/capsulas.jpg);
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  width: 48%;
  height: 500px;
  transition-duration: 1s;
}

.grano_capsula .segundo:hover {
  transform: scale(1.1);
}

.grano_capsula .primero h2 {
  font-weight: 900;
  text-align: center;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  color: rgb(102, 38, 9);
}

.grano_capsula .primero p {
  font-size: 20px;
  text-align: center;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  color: rgb(102, 38, 9);
}

.grano_capsula .segundo h2 {
  text-align: center;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  position: relative;
  top: 130px;
  right: 60px;
}

.grano_capsula .segundo p {
  text-align: center;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  position: relative;
  top: 120px;
  right: 20px;
}

.cafetera_explocion {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  background-color: rgba(238, 238, 238, 0.637);
  flex-wrap: wrap;
}
.cafetera_explocion .primero {
  grid-area: cafetera_explocion_primero;
  color: white;
  background-image: url(../img/cafetera_paisaje.jpg);
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  width: 48%;
  height: 500px;
  transition-duration: 1s;
}

.cafetera_explocion .primero:hover {
  transform: scale(1.1);
}

.cafetera_explocion .segundo {
  color: rgb(192, 118, 33);
  background-image: url(../img/cafe_corazon.jpg);
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  width: 48%;
  height: 500px;
  transition-duration: 1s;
}

.cafetera_explocion .segundo:hover {
  transform: scale(1.1);
}

.cafetera_explocion .primero h2 {
  text-align: left;
  padding: 10px;
  font-family: "Poppins", sans-serif;
  color: rgb(141, 134, 141);
}

.cafetera_explocion .primero p {
  font-size: 20px;
  text-align: left;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  color: rgb(243, 236, 243);
}

.cafetera_explocion .segundo h2 {
  margin-right: 150px;
  text-align: center;
  padding: 10px;
  font-family: "Poppins", sans-serif;
}

.cafetera_explocion .segundo p {
  margin-right: 150px;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  font-family: "Montserrat", sans-serif;
}

/*-------FOOTER-------*/

footer {
  width: 100%;
  grid-area: footer;
  background-color: rgba(126, 47, 1, 0.562);
}

footer div {
  display: inline;
  display: flex;
  justify-content: center;
}

footer div a img {
  width: 50px;
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: 1s;
  padding: 5px;
}

footer div a img:hover {
  transform: scale(1.3);
}

/*--------@MEDIA-------*/

@media screen and (max-width: 1113px) {
  .header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width: 609px) {
    .header nav ul {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  @media screen and (max-width: 1115px) {
    .grano_capsula {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .grano_capsula .primero {
      width: 100%;
    }
    .grano_capsula .segundo {
      width: 100%;
    }
    .cafetera_explocion {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .cafetera_explocion .primero {
      width: 100%;
    }
    .cafetera_explocion .segundo {
      width: 100%;
    }
  }

  @media screen and (max-width: 831px) {
    .mini_presso div h2 {
      font-size: 40px;
    }
    .mini_presso div p {
      font-size: 20px;
    }
    .mini_presso div h3 {
      font-size: 20px;
    }
  }

  @media screen and (max-width: 923px) {
    .mini_presso div h2 {
      margin-right: 10px;
    }
    .mini_presso div p {
      margin-right: 10px;
    }
    .mini_presso div h3 {
      margin-right: 10px;
    }
  }

  @media screen and (max-width: 1255px) {
    .taza_cafe h2 {
      font-size: 40px;
      padding: 10px;
    }
    .taza_cafe p {
      font-size: 20px;
      padding: 10px;
    }
  }

  @media screen and (max-width: 475px) {
    .taza_cafe h2 {
      font-size: 30px;
    }
    .taza_cafe p {
      font-size: 20px;
    }
  }

  @media screen and (max-width: 1257px) {
    .origen div {
      text-align: center;
    }
    .origen h2 {
      padding: 5px;
    }
    .origen p {
      padding: 10px;
      font-size: 15px;
    }
  }

  @media screen and (max-width: 461px) {
    .origen img {
      width: 90%;
      height: 60%;
    }
  }

  @media screen and (max-width: 511px) {
    .origen_dos img {
      width: 90%;
      height: 60%;
    }
  }

  @media screen and (max-width: 805px) {
    .origen_dos h2 {
      margin-top: 10px;
      text-align: center;
    }
    .origen_dos p {
      font-size: 15px;
      padding: 20px;
    }
  }

  @media screen and (max-width: 929px) {
    .origen_tres p {
      font-size: 15px;
    }
    .origen_tres h2 {
      font-size: 25px;
    }
    .origen_tres img {
      margin-top: 25px;
    }
  }

  @media screen and (max-width: 783px) {
    .origen_tres img {
      margin-top: 45px;
    }
  }

  @media screen and (max-width: 503px) {
    .origen_tres img {
      margin-top: 65px;
    }
  }

  @media screen and (max-width: 415px) {
    .origen_tres p {
      padding: 1 0px;
    }
  }

  @media screen and (max-width: 359px) {
    .cafetera_explocion .segundo p {
      color: rgb(112, 36, 0);
    }
  }

  @media screen and (max-width: 357px) {
    .taza_cafe p {
      background-color: rgba(112, 35, 0, 0.445);
    }
  }

  @media screen and (max-width: 409px) {
    .cafetera_explocion .segundo h2 {
      font-size: 25px;
    }
  }

  @media screen and (max-width: 333px) {
    .grano_capsula .segundo h2 {
      position: relative;
      top: 130px;
      right: 20px;
    }
    .grano_capsula .segundo p {
      position: relative;
      top: 130px;
      right: 10px;
    }
  }

  @media screen and (max-width: 305px) {
    .cafetera_explocion .primero p {
      color: rgb(173, 171, 173);
      background-color: rgba(0, 0, 0, 0.658);
      text-align: center;
      font-size: 19px;
    }
    .cafetera_explocion .primero h2 {
      font-size: 20px;
      background-color: rgba(0, 0, 0, 0.658);
      text-align: center;
    }
  }

  @media screen and (max-width: 324px) {
    .grano_capsula .primero p {
      background-color: rgba(194, 158, 128, 0.575);
      color: rgb(54, 19, 2);
    }
  }
}
